<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Inventory_Panel.Properties.Settings.InventorySystemConnectionString"
            connectionString="Data Source=sql.marssystems.tech;Initial Catalog=InventorySystem;Persist Security Info=True;User ID=sa;Password=Jac0bI2aac1!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>